header {
    background: #cccccc;
    padding: 20px 0;
	
}

.caixa{
    position: relative;
    width: 1200px;
    margin: 0 auto;
	
}

nav {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}





.principal {
    
    padding: 30px;

}


main h2{
    text-align: center;
    font-weight: bold;
    color: #1C1C1C;
    
}

#missao {
    font-size: 30px;   
    text-align: center;
    color: #000000;
}

#missao em {
    color: red;
    font-style: italic;
    
}







.titulo-centralizado {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.texto-main {
    text-align: center;
    font-size: 25px;
    color: #1C1C1C;
}

main {
    text-align: center;
    
    padding: 40px 0;
    padding-bottom: 30px;
    margin-bottom: 30px;
}


footer{

    background: url("bg.jpg");
    text-align: center;
    padding: 40px 0;
    padding-top: 30px;
}

.copyright {
    color: azure;
    font-size: 15px;
    padding-top: 30px;
}


